h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128,198,190,255);
    margin-top: 0;
    color: white;
    font-size: 80px;
    font-family: 'Titan One', cursive;
    text-shadow: 5px 5px rgb(0, 141, 118);
    box-shadow: 0px 5px rgb(0, 141, 118);
}
body{
    margin: 0;
    background-repeat: no-repeat;
    height: 100vh;
}
a.userNames{
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(128,198,190,255);
    color: white;
    text-decoration: none;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-size: 30px;
    max-width:max-content;
    border-radius: 5px;
    padding: 4px;
    font-family: 'Titan One', cursive;
    box-shadow: 5px 5px rgb(0, 141, 118);
    text-shadow: 2px 2px rgb(0, 141, 118);
}

a.userNames:hover{
   text-decoration: underline;
   background-color:rgb(0, 141, 118) ;
   
}
