<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= users.username %></h1>
    <h2>these are all the recipes you shared</h2>
    <% if(recipes.length===0) {%>
        <h2>There are no recipes yet!</h2>
        <a href="/recipes/new">Create one now!</a>
        <% } else { %>
            <ul class="recipes">
                <% recipes.forEach((recipe)=>{ %>
                    <li>
                        <div class="recipe-div">
                            <h2><%= recipe.name %></h2>
                            <a href="/recipes/<%=recipe._id%>"><img src="<%= recipe.image %>" alt="Recipe image"></a>
                        </div>
                        
                    </li>
                    <% })} %>
            </ul>
</body>
</html>