<!-- replace cats with other variable -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">ReciMe</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <h1>RECIPE FACTORY</h1>
    <form class="create-form-recipes" action="/recipes" method="POST" enctype="multipart/form-data">
        Name: <input type="text" name="name">
        Meat: <input type="text" name="meat">
        Vegetables: <input type="text" name="vegetables">
        Spices: <input type="text" name="spices">
        Vegan dish: <input type="checkbox" name="isVegan" value=true>
        Upload a photo: <input type="file" id="image" name="image">
        <button class="recipe-create" type="submit">Submit</button>
    </form>
</body>

</html>

</html>