<!-- replace cats with other variable -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 
<body>
    <h1>RECIPE FACTORY</h1>
    <form action="/recipes" method="POST" enctype="multipart/form-data">
        Name: <input type="text" name="name">
        Meat: <input type="text" name="meat">
        Vegetables: <input type="text" name="vegetables">
        Spices: <input type="text" name="spices">
        Vegan dish: <input type="checkbox" name="isVegan" value=true>
        Upload a photo: <input type="file" id="image" name="image">
        <button type="submit">Submit</button>
    </form>
</body>

</html>

</html>